.root {
  max-width: 1460px;
  margin: 0 auto;
  margin-bottom: 10rem;
}

.title {
  color: #14183e;
  margin-bottom: 8rem;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 140px;
}

.reasonblock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-weight: 500;
}

.description {
  font-size: 1.5rem;
  font-weight: 300;
}

.resnumber {
  font-weight: 200;
  position: absolute;
  left: 0;
  top: -3rem;
}

.stick {
  width: 1px;
  height: 210px;
  background-color: #e4e4e7;
  position: absolute;
  right: -2rem;
  top: -3rem;
}
